body{
    
}

.nav-link{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 400px;
    padding: 20px;
}

.nav a:hover {
    text-decoration-color: rgb(36, 36, 114);
}

button{
    background-color: #8B5CF6;
    color: white;

}

.button-one{
    margin: 40px;
    min-width: 100px;
    height: max-content;
}

.img{
    display: flex;
    flex: 1;
    height: 400px;
    width: auto;
}

.main{
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0px;
}

.main .main-info button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.main-content {
    display: flex;
    align-items: center;    
    justify-content: center;  
    width: 1000px;
    margin: auto; 
    margin-top: 150px;
    padding: 15x;
}

.product-info{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.quote-container{
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.blockquote-xuthor{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: normal;
    display: flex;
    align-items: baseline;
    justify-content: end;
}



